/Modulo2/Practica2/Proyecto Clase 2/nbproject/private/
/Modulo2/Proyectos/Resolucion de Practicas/nbproject/private/
/Modulo2/Proyectos/Resolucion de Practicas/build/
/Modulo2/Proyectos/Triangulo/nbproject/private/
